.gamebg{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(199,238,206);
}
.gamebox{
	height: 100%;
	width: 80%;
	left: 10%;
	border: 1px dashed lightgray;
	border-top: none;
	border-bottom: none;
	background: whitesmoke;
	position: absolute;
	overflow: hidden;
}
.gamebox>img{
	position: absolute;
	right: -100px;
	display: none;
}
.gamebox>img:nth-child(1){
	top: 100px;
}
.gamebox>img:nth-child(2){
	top: 200px;
}
.gamebox>img:nth-child(3){
	top: 300px;
}
.gamebox>img:nth-child(4){
	top: 400px;
}
.gamebox>img:nth-child(5){
	top: 60px;
	left:30px;
}
.runman{
	animation: manrun 10s infinite;
	-webkit-animation: manrun 6s infinite;
}
@keyframes manrun{
	from {left: 1120px;top: 100px;}
	to{left: -100px;top: 100px;}
}
.runwomen{
	animation: womenrun 10s infinite;
	-webkit-animation: womenrun 7s infinite;
}
@keyframes womenrun{
	from {left: 1120px;top: 200px;}
	to{left: -100px;top: 200px;}
}
.walkman{
	animation: manwalk 10s infinite;
	-webkit-animation: manwalk 8s infinite;
}
@keyframes manwalk{
	from {left: 1120px;top: 300px;}
	to{left: -100px;top: 300px;}
}
.walkwomen{
	animation: womenwalk 10s infinite;
	-webkit-animation: womenwalk 9s infinite;
}
@keyframes womenwalk{
	from {left: 1120px;top: 400px;}
	to{left: -100px;top: 400px;}
}
.runrabbit1{
	animation: rabbitrun1 10s infinite;
	-webkit-animation: rabbitrun1 3s infinite;
}
@keyframes rabbitrun1{
	from {left: -100px;top: 100px;}
	to{left: 1120px;top: 400px;}
}
.runrabbit2{
	animation: rabbitrun2 10s infinite;
	-webkit-animation: rabbitrun2 3s infinite;
}
@keyframes rabbitrun2{
	from {left: -100px;top: 400px;}
	to{left: 1120px;top: 100px;}
}
.runrabbit3{
	animation: rabbitrun3 10s infinite;
	-webkit-animation: rabbitrun3 3s infinite;
}
@keyframes rabbitrun3{
	from {left: -100px;top: 300px;}
	to{left: 1120px;top: 200px;}
}
.runrabbit4{
	animation: rabbitrun4 10s infinite;
	-webkit-animation: rabbitrun4 3s infinite;
}
@keyframes rabbitrun4{
	from {left: -100px;top: 200px;}
	to{left: 1120px;top: 400px;}
}
.gamebox>img[class="ctrlBtn"]{
	display: block;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
	cursor: pointer;
}
.ctrlBtn2{
	display: block;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	src: url(../images/btn_pause_01.png);
}
#blackcar{
	width: 50px;
	height: 36px;
	left: 48%;
	top: 94%;
	display: block;
	position: relative;
}

/* 汽车毁坏效果 */
.car-dead{
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background: black;
	z-index: 9999;
}
.dead-txt{
	color: red;
	width: 388px;
	height: 88px;
	border-radius: 30px;
	box-sizing: border-box;
	margin: auto;
	margin-top: 166px;
	padding-top: 30px;
	font-size: 30px;
	background: yellow;
}